.App {
  font-family: Josefin Sans;
  text-align: center;
}
#emoji {
  padding: 0.5rem;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
}
#input-box {
  padding: 0.7rem;
  padding-right: 6rem;
  padding-left: 6rem;
}
#meaning {
  padding-top: 1.5rem;
  font-size: 1.5rem;
}
